body {
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  .header {
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
  }
  
  .header span {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to right, #FFFFFF 50%, rgb(255, 153, 0) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #get-image-button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 45%;
  }
  
  #get-image-button:hover {
    background-color: orange;
  }
  
  #image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #image-container img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Add some Pornhub-like styling */
  body {
    background-image: linear-gradient(to bottom, black, black);
  }
  
  #get-image-button {
    border-radius: 5px;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #get-image-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #image-container img {
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }